@model WS.Models.SalesType

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sales_type" class="control-label"></label>
                <input asp-for="sales_type" class="form-control" />
                <span asp-validation-for="sales_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tax_included" class="control-label"></label>
                <input asp-for="tax_included" class="form-control" />
                <span asp-validation-for="tax_included" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="factor" class="control-label"></label>
                <input asp-for="factor" class="form-control" />
                <span asp-validation-for="factor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inactive" class="control-label"></label>
                <input asp-for="inactive" class="form-control" />
                <span asp-validation-for="inactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
